/* BLOCK - CTA-BAR */
.cta-bar {
    @apply flex justify-center items-center bg-white py-8;
}
.cta-bar__title {
    @apply inline-block text-gray-dark font-medium tracking-wide font-colombo uppercase leading-snug mr-6 text-2xl md:text-[2rem];
    line-height: 54px;
}

.cta-bar__icon {
    display: inline-block;
    height: 54px;
    width: 60px;
    overflow: visible;
}

.cta-bar__icon svg {
    display: block;
    height: 100%;
    width: 100%;
    overflow: visible;
}

.cta-bar__icon svg .st0 {
    fill: var(--dark-grey);
    stroke: var(--dark-grey);
    stroke-miterlimit:10;
    transform: rotate(0);
    transform-origin: center center;
    transition: all ease 0.3s
}

.cta-bar:hover .cta-bar__icon svg .st0 {
    transform: rotate(-20deg);
    fill: var(--light-black);
}

.cta-bar__icon svg .st1{
    fill: var(--green);
}