.inter {
    @apply bg-black-light text-white-light pb-32;
}

.inter__intro {
    @apply flex flex-wrap justify-center text-center w-full;
}

.inter__title {
    @apply block font-medium tracking-wide font-colombo uppercase leading-snug text-2xl mb-8 md:text-3xl xl:text-4xl 2xl:text-5xl;
}

.inter__grid {
    @apply relative block lg:flex justify-center items-start h-full pt-16;
}

.inter__col {
    @apply h-full w-full lg:w-2/4;
}

.inter__ninja #nf-form-2-cont input,
.inter__ninja #nf-form-2-cont textarea {
    background: none;
    outline: 0;
    border: none;
    border-bottom: 1px solid var(--dark-grey);
}

.inter__ninja #nf-form-2-cont .label-right .nf-field-label {
    @apply items-start;
}

.inter__ninja #nf-form-2-cont .checkbox-container.label-right .field-wrap > div {
    @apply w-auto pr-2;
}

.inter__ninja #nf-form-2-cont .label-right .nf-field-description {
    @apply mr-0;
}

.inter__ninja #nf-form-2-cont input[type="submit"] {
    @apply bg-yellow p-0 w-28 leading-10 flex items-center justify-center text-base text-center uppercase text-gray-dark;
    border: none;
}

.inter__ninja .nf-form-content {
    @apply p-0;
}

.inter__hero {
    @apply block relative md:p-16 lg:p-32 lg:pt-0 lg:pr-0 lg:flex items-center justify-end h-full;
}

.inter__mask-one {
    -webkit-mask: url('assets/img/hex.svg') center center / contain;
    mask: url('assets/img/hex.svg') center center / contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    height: 100%;
    width: 100%;
    z-index: 2;
    position: relative;
}

.inter__mask-one img {
    @apply h-auto w-full;
}

.inter__hex-one {
    @apply hidden md:block absolute bottom-0 left-0 h-3/4 w-3/4;
    transform: rotate(-15deg) translateX(6.5%) translateY(0) scale(1);
    transform-origin: 0 0;
}

.inter__hex-one svg .st0 {
    fill: var(--yellow);
    stroke: var(--yellow);
}