/* WHY */
.why {
    @apply relative bg-white-dark pt-16;
}

.why__col {
    @apply lg:pr-[25%] xl:pr-[50%];
}

.why__title {
    @apply block text-center lg:text-left text-gray-dark font-medium tracking-wide font-colombo uppercase leading-snug text-2xl mb-8 md:text-3xl xl:text-4xl 2xl:text-5xl;
}

.why__excerpt {
    @apply mb-16 text-center lg:text-left;
}

.why__list ul {
    @apply text-center lg:text-left w-full;
}

.why__list li {
    @apply inline-block px-8 pb-8 lg:pb-0 lg:px-0 lg:pr-8 lg:max-w-[180px];
}

.why__item {
    @apply flex justify-center w-full text-center;
}

.why__item img {
    @apply block mx-auto mb-4;
}

.why__item span {
    font-size: 18px;
    font-weight: bold;
}

.why__hero {
     @apply px-8 py-16 block float-left w-full;
}

.why__mask {
    -webkit-mask: url('assets/img/hex.svg') center center / contain;
    mask: url('assets/img/hex.svg') center center / contain;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    height: auto;
    width: 100%;
 }
 
 .why__mask img {
    @apply h-auto w-full;
 }
 
 @media only screen and (min-width: 600px) {
     .why__hero {
         @apply px-32 pt-8 pb-16;
     }
     .why__col {
         @apply lg:pr-[42%];
     }
 }
 
 
 @media only screen and (min-width: 1024px) {
     .why__hero {
         @apply p-0;
         position: absolute;
         top: 0;
         right: 0;
         transform-origin: 100% 0; /* origin left top */
         transform: scale(0.5) translateX(25%) translateY(-8rem);
     }
     .why {
         @apply py-32;
     }

 }
 
 @media only screen and (min-width: 1120px) {
     .why__hero {
         transform: scale(0.5) translateX(25%) translateY(-32rem);
     }
 }

 @media only screen and (min-width: 1920px) {
    .why__hero {
        transform: scale(0.333) translateX(25%) translateY(-32rem);
    }
}
 
 